In [28]:
import pandas
import configparser
import psycopg2

In [29]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [30]:
conn = psycopg2.connect(host = host,
                       user = user,
                       password = pwd,
                       dbname = db)

In [45]:
sql = """select * from student"""

In [46]:
df = pandas.read_sql_query(sql,conn)

df[:]

/tmp/ipykernel_9356/3565219349.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql,conn)

      s_email      s_name major
0  s1@jmu.edu          s1    IA
1  s2@jmu.edu          s2    IA
2  s3@jmu.edu          s3  ISAT
3  s4@jmu.edu          s4  ISAT
4          s5  s5@jmu.edu    IA
5  s5@jmu.edu          s5    IA

In [41]:
cur = conn.cursor()

In [42]:
sql = """
insert into student(s_email,s_name,major)
values('{}','{}','{}')
""".format('s5@jmu.edu','s5','IA')
print(sql)

insert into student(s_email,s_name,major)
values('s5@jmu.edu','s5','IA')

In [43]:
cur.execute(sql)

In [44]:
conncommit

/tmp/ipykernel_9356/3166211841.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

      avg_price          house_type
0  2.186405e+05         lot or land
1  1.999830e+05               condo
2  2.002999e+06                None
3  2.724333e+05        multi-family
4  3.402677e+05  single-family home
5  2.190297e+05           townhouse